<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{index.md}}">Home</a></li>
        <li class="fork"><a href="{{compsci.md}}">CompSci</a></li>
        <li class="fork"><a href="{{blogs.html}}">Blogs</a></li>
        <li class="title"><a href="{{ https://github.com/abi1961/csse_repo2 }}#readme">View On GitHub</a></li>
        <li class="title"><a href="/help_list.html">Help</a></li>
        <li class="title"><a href="{{ https://github.com/abi1961/csse_repo2 }}#readme">About Creator</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>
