<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{https://abi1961.github.io/csse_repo2}}">Home</a></li>
        <li class="fork"><a href="{{https://abi1961.github.io/csse_repo2}}/compsci">CompSci</a></li>
        <li class="fork"><a href="{{https://abi1961.github.io/csse_repo2}}/blogs">Blogs</a></li>
        <li class="title"><a href="{{https://abi1961.github.io/csse_repo2}}/help">Help</a></li>
        <li class="title"><a href="{{ https://github.com/abi1961/csse_repo2}}#readme">View On GitHub</a></li>
        <li class="title"><a href="{{ https://github.com/abi1961/csse_repo2 }}#readme">About Creator</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>
