<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="./_layouts/AbigailsBlogCompSciBlogs.html">Home</a></li>
        <li class="fork"><a href="./_layouts/AbigailsBlogCompSciBlogs.html">CompSci</a></li>
        <li class="fork"><a href="./_layouts/blogs.html">Blogs</a></li>
        <li class="title"><a href="{{ https://github.com/abi1961/csse_repo2 }}#readme">View On GitHub</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">About Creator</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>
